<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Is er nou al een update?</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Een website om te checken of Daan nou wel zijn werk doet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
